{
    "AuthorizeFunction": {
        "AUTHORIZE_URL": "https://accounts.spotify.com/authorize",
        "CLIENT_ID": "",
        "REDIRECT_URI": "vscode://gustavosvalentim.vscode-spotify-player",
        "SCOPE": "user-modify-playback-state user-read-playback-state"
    },
    "TokenFunction": {
        "TOKEN_URL": "https://accounts.spotify.com/api/token",
        "CLIENT_ID": "",
        "CLIENT_SECRET": "",
        "REDIRECT_URI": "vscode://gustavosvalentim.vscode-spotify-player"
    }
}